<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-4">
    <p>
      <%= image_tag(@product.picture.downcase, size: 300) %>
      <!-- <%= @product.picture %> -->
    </p>
  </div>
  <div class="col-sm-8">
    <p>
      <strong>Item:</strong>
      <%= @product.item %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
    <p>
      <strong>Packaging:</strong>
      <%= @product.packaging %>
    </p>
    <p>
      <strong>Rating:</strong>
      <%= @product.rating %>
      <i class="glyphicon glyphicon-star-empty"></i>
      <span class="glyphicon glyphicon-star-empty"></span>
    </p>
    <p>
      <strong>Plastic free?</strong>
      <%= @product.plastic_free %>
    </p>
  </div>
</div>
<p>
  <strong>Available here</strong>
</p>
<div class="row">
      <% @product.locations.each do |l| %>
        <div class="col-sm-4">
          <h5><%= l.store %></h5>
          <iframe width="300" height="300" frameborder="0" style="border:0"
          src="<%= google_map(l.place_id) %>
          "
          allowfullscreen>
          </iframe>
        </div>
      <% end %>
</div>
<div class = "text-center">
  <% if current_admin %>
    <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-light" %>
  <% end %>
  <%= link_to 'Back', products_path, class: "btn btn-light" %>
</div>
