<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Zero Waste Index</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#">Zero Waste Index</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="<%= 'nav-item active' if current_page?(root_path) %>">
            <%= link_to "Home", root_path, class:"nav-link" %>
          </li>
          <li class="<%= 'nav-item active' if current_page?(about_path) %>">
            <%= link_to "About", about_path, class:"nav-link" %>
          </li>
          <li class="<%= 'nav-item active' if current_page?(contact_path) %>">
            <%= link_to "Contact", contact_path, class:"nav-link" %>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="container">


      <%= yield %>
    </main><!-- /.container -->
     <%= debug(params) if Rails.env.development? %>
  </body>
</html>
