<!doctype html>
<html lang="en">
  <head>
    <title><%= yield(:title) %> | Zero Waste Index</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="jumbotron">
        <div class="container">
        </div>
    </div>
    <main role="main" class="container">

      <%= yield %>
      <%= render 'layouts/footer' %>
      <!-- <div class = "row">
       <p><%= debug(params) if Rails.env.development? %></p>
      </div> -->
    </main><!-- /.container -->
  </body>
</html>
